<?xml version='1.0' encoding='utf-8'?>
<widget id="ru.gvozdberi" version="1.1.6" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Гвоздь Бери</name>
    <description>
        Гвоздь Бери мобильный каталог
    </description>
    <author email="info@softf1.ru" href="https://softf1.ru">
        SoftF1 Developer
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="23" />
    <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />
	<icon src="icon.png"/>
    <platform name="android">
        <icon density="ldpi" src="www/res/icon/ldpi.png"/>
        <icon density="mdpi" src="www/res/icon/mdpi.png"/>
        <icon density="hdpi" src="www/res/icon/hdpi.png"/>
        <icon density="xhdpi" src="www/res/icon/xhdpi.png"/>
        <icon density="xxhdpi" src="www/res/icon/xxhdpi.png"/>
        <icon density="xxxhdpi" src="www/res/icon/xxxhdpi.png"/>
    </platform>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
</widget>
