<?xml version='1.0' encoding='utf-8'?>
<widget id="ru.gvozdberi" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Гвоздь Бери</name>
	<icon src="icon.png" />
	<platform name="android">
        <icon density="ldpi" src="logo.png"/>
        <icon density="mdpi" src="logo.png"/>
        <icon density="hdpi" src="logo.png"/>
        <icon density="xhdpi" src="logo.png"/>
        <icon density="xxhdpi" src="logo.png"/>
        <icon density="xxxhdpi" src="logo.png"/>
        <splash density="land-ldpi" src="logo.png"/>
        <splash density="land-mdpi" src="logo.png"/>
        <splash density="land-hdpi" src="logo.png"/>
        <splash density="land-xhdpi" src="logo.png"/>
        <splash density="land-xxhdpi" src="logo.png"/>
        <splash density="land-xxxhdpi" src="logo.png"/>
        <splash density="port-ldpi" src="logo.png"/>
        <splash density="port-mdpi" src="logo.png"/>
        <splash density="port-hdpi" src="logo.png"/>
        <splash density="port-xhdpi" src="logo.png"/>
        <splash density="port-xxhdpi" src="logo.png"/>
        <splash density="port-xxxhdpi" src="logo.png"/>
    </platform>
    <description>
        Гвоздь Бери мобильный каталог
    </description>
    <author email="info@softf1.ru" href="https://softf1.ru">
        SoftF1 Developer
    </author>
    <content src="index.html" />
    <access origin="*" />
	<plugin name="cordova-plugin-whitelist" version="1" source="npm"/>
	<allow-intent href="http://*/*"/>
	<allow-intent href="https://*/*"/>
	<allow-intent href="tel:*"/>
	<allow-intent href="sms:*"/>
	<allow-intent href="mailto:*"/>
	<allow-intent href="geo:*"/>
</widget>
