@font-face {
  font-family: 'Verdana';
  src: url('../webfonts/Verdana.woff2') format('woff2'), url('../webfonts/Verdana.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Verdana';
  src: url('../webfonts/Verdana-Bold.woff2') format('woff2'), url('../webfonts/Verdana-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.goTop {
  position: fixed;
  right: 5px;
  bottom: 5px;
  font-size: 30px;
  color: #d7251a;
  padding: 5px;
  background: #ffffff;
  border: 1px solid #d7251a;
  border-radius: 100%;
}
body {
  background: #f2f2f2;
  font-family: 'Verdana';
}
.headerBox {
  position: relative;
  width: 100%;
  background: #e43930;
  margin: 0 0 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerBox .left .menu .small .icon {
  width: 28px;
  height: 21px;
  background: url(../i/menu.png) 0 0 no-repeat;
}
.headerBox .left .menu .small .navbar {
  display: none;
}
.headerBox .left .menu .small .navbar {
  margin: 15px 0 0 0;
}
.headerBox .left .menu .small .navbar .navbar-nav .nav-item {
  width: 100%;
  margin: 0 0 5px 0;
}
.headerBox .left .menu .small .navbar .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
}
.headerBox .left .menu .small .navbar .navbar-nav .dropdown-menu {
  margin: 0 0 0 20px;
  display: none;
}
.headerBox .left .menu .small .navbar .navbar-nav .dropdown-menu .dropdown-item {
  display: block;
  width: 100%;
  margin: 0 0 5px 0;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
}
.headerBox .left .menu .big {
  display: none;
}
.headerBox .right {
  margin: 0 0 0 10px 0;
  display: flex;
  align-items: center;
}
.headerBox .right .find {
  width: 24px;
  height: 31px;
  background: url(../i/find.png) 0 0 no-repeat;
  margin: 0 10px 0 0;
}
.headerBox .right .cart {
  width: 25px;
  height: 22px;
  background: url(../i/cart.png) 0 0 no-repeat;
}
.contentBox {
  position: relative;
  width: 100%;
  background: url(../i/bg_left.png) top left no-repeat, url(../i/bg_right.png) top right no-repeat;
  padding: 20px;
}
.contentBox .content {
  position: relative;
  width: 100%;
}
.contentBox .border {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: url(../i/border.png);
}
.contentBox .indexSlider {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: url(../i/border.png);
  padding: 10px 20px 20px 20px;
}
.contentBox .indexSlider .logo {
  width: 100%;
  text-align: center;
  margin: 0 0 0 0;
}
.contentBox .indexSlider .slider {
  width: 100%;
  height: 140px;
  background: #e5e5e5;
  border-radius: 3px;
}
.contentBox .indexFind {
  position: relative;
  width: 100%;
  margin: 15px 0;
}
.contentBox .indexFind .input {
  width: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  height: 40px;
  padding: 5px 30px 5px 36px;
  background: url(../i/search.png) 15px center no-repeat;
  background-color: #ffffff;
}
.contentBox .indexFind button {
  position: absolute;
  border: none;
  right: 0px;
  color: #e43930;
  font-size: 25px;
  right: 7px;
  top: 7px;
  background: none;
}
.contentBox .pageHeader {
  width: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: url(../i/border.png);
  padding: 10px;
  margin: 0 0 10px 0;
}
.contentBox .pageHeader .page-header {
  width: 100%;
  font-size: 20px;
  color: #e43930;
  margin: 0 0 5px 0;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #e43930;
}
.contentBox .pageHeader .backTop {
  width: 100%;
  color: #5e5e5e;
  font-size: 14px;
}
.contentBox .pageHeader .backTop a {
  color: #5e5e5e;
  text-decoration: none;
}
.contentBox .pageHeader .backTop a i {
  color: #e43930;
}
.contentBox .catalogRubric {
  width: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: url(../i/border.png);
  margin: 0 0 10px;
  padding: 10px;
}
.contentBox .catalogRubric a {
  padding: 0 15px 10px 0;
  color: #5e5e5e;
  text-decoration: none;
}
.contentBox .catalogRubric a i {
  color: #e43930;
}
.contentBox .catalogItems {
  width: 100%;
  margin: 0 -5px 10px -5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
.contentBox .catalogItems .catalogItem {
  width: 160px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: url(../i/border.png);
  margin: 0 5px 15px 5px;
}
.contentBox .catalogItems .catalogItem .image {
  width: 100%;
  margin: 10px 0 5px 0;
  text-align: center;
}
.contentBox .catalogItems .catalogItem .image img {
  height: 100px;
}
.contentBox .catalogItems .catalogItem .name {
  width: 100%;
  padding: 0 5px 0 5px;
  margin: 0 0 10px 0;
  color: #5e5e5e;
  font-size: 16px;
  height: 75px;
  overflow: hidden;
}
.contentBox .catalogItems .catalogItem .pcb {
  width: 100%;
}
.contentBox .catalogItems .catalogItem .pcb .price {
  width: 100%;
  padding: 0 5px 5px 5px;
  color: #151515;
  font-size: 14px;
}
.contentBox .catalogItems .catalogItem .pcb .cb {
  width: 100%;
  font-size: 14px;
}
.contentBox .catalogItems .catalogItem .pcb .cb .count {
  width: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: url(../i/border.png);
  height: 20px;
  text-align: center;
}
.contentBox .catalogItems .catalogItem .pcb .cb .bay {
  width: 100%;
  font-weight: bold;
  color: #ffffff;
  background: #e54b43;
  text-align: center;
  padding: 5px 0;
  cursor: pointer;
}
.contentBox .catalogItems .catalogItem .pcb .cb .del {
  width: 100%;
  font-weight: bold;
  color: #ffffff;
  background: #7fc76b;
  text-align: center;
  padding: 5px 0;
  margin: 20px 0 0 0;
  cursor: pointer;
}
.contentBox .catalogItems .catalogItem .pcb .stock {
  width: 100%;
  font-size: 14px;
  color: #747474;
  text-align: center;
  padding: 5px 0;
  margin: 20px 0 0 0;
}
.contentBox .cartBox .basketItems {
  width: 100%;
}
.contentBox .cartBox .basketItems .item {
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: url(../i/border.png);
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 0 15px 0;
}
.contentBox .cartBox .basketItems .item .image {
  min-width: 150px;
  margin: 0 10px 0 5px;
}
.contentBox .cartBox .basketItems .item .image img {
  max-width: 150px;
}
.contentBox .cartBox .basketItems .item .text {
  margin: 10px 5px 10px 0;
}
.contentBox .cartBox .basketItems .item .text .name {
  font-size: 16px;
  color: #151515;
  margin: 0 0 5px 0;
}
.contentBox .cartBox .basketItems .item .text .price {
  font-size: 14px;
  color: #e43930;
  margin: 0 0 5px 0;
}
.contentBox .cartBox .basketItems .item .text .cartCount {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: url(../i/border.png);
  height: 25px;
  width: 100%;
  text-align: center;
  margin: 0 0 5px 0;
}
.contentBox .cartBox .basketItems .item .text .summ {
  font-size: 15px;
  color: #e43930;
}
.contentBox .cartBox .basketItems .item .cartDel {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #747474;
}
.contentBox .cartBox .basketItems .summAll {
  width: 100%;
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  color: #151515;
  font-size: 14px;
  border-bottom: 1px solid #b5b5b5;
}
.contentBox .formHeader {
  width: 100%;
  margin: 0 0 10px 0;
  color: #e43930;
  font-size: 14px;
  font-weight: bold;
}
.contentBox .alert-danger {
  width: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: url(../i/border.png);
  padding: 5px;
  color: #e43930;
  font-size: 14px;
}
.contentBox .form-group {
  width: 100%;
  margin: 0 0 10px 0;
}
.contentBox .form-group .form-label {
  width: 100%;
  margin: 0 0 2px 0;
  color: #747474;
  font-size: 14px;
}
.contentBox .form-group .form-control {
  width: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: url(../i/border.png);
  height: 25px;
  padding: 5px;
}
.contentBox .form-group textarea.form-control {
  height: 60px;
}
.contentBox .form-group-summ {
  border-top: 1px solid #b5b5b5;
  margin: 0 0 10px 0;
  padding: 10px 0 0 0;
  color: #151515;
  font-size: 14px;
}
.contentBox .pagination {
  width: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: url(../i/border.png);
  padding: 10px 0 0 10px;
  display: flex;
  flex-wrap: wrap;
}
.contentBox .pagination .page-link {
  color: #747474;
  margin: 0 10px 10px 0;
  font-size: 14px;
  text-decoration: none;
}
.contentBox .pagination .active {
  color: #000000;
}
.btn {
  padding: 15px 10px;
  text-align: center;
  color: #ffffff;
  background: #e43930;
  border-radius: 3px;
  border: none;
  font-weight: bold;
  font-size: 14px;
}
.btn-block {
  width: 100%;
}
.btn-primary {
  background: #e43930;
  color: #ffffff;
}
/*# sourceMappingURL=styles.css.map */